<div class="container-fluid">
     <div class="row-fluid">
        <div class="col-md-12" ng-controller="taskController">
            <center>
                <h1>Current Tasks</h1>
            </center>

            <table class="table table-bordered table-hover table-responsive" ng-init="loadTasks()">
                <tr>
                    <th>Title</th>
                    <th>Points</th>
                    <th>Description</th>
                    <th>Created by</th>
                    <th>Assigned to</th>
                </tr>
                <tr ng-repeat="task in tasks">
                    <td>{{task.title}}</td>
                    <td>{{task.points}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.created_by.username}}</td>
                    <td>{{task.assigned_to.username}}</td>
                </tr>
            </table>

            <div>
                <h3>New task:</h3>
                <form>
                    <label>Title:</label> <input type="text" ng-model="task.title">
                    <label>Points:</label> <input type="number" ng-model="task.points">
                    <label>Description:</label> <input type="text" ng-model="task.description">
                    <button type="submit" ng-click="saveTask(task)">Save</button>
                </form>
            </div>

        </div>
    </div>
</div>