<div class="container-fluid">
    <div class="row-fluid" ng-controller="taskController">
        <div class="col-md-2" ng-if="userData.getUser().isAdmin">
            <div>
                <h3>Create new task:</h3>
                <form>
                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" ng-model="task.title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Points:</label>
                        <input type="number" ng-model="task.points" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" ng-model="task.description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Assigned to:</label>
                        <select name="users" ng-model="task.assignedTo" ng-init="loadUsers()" class="form-control">
                             <option ng-repeat="user in userData.getUsers()" value="{{user.id}}">{{user.username}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="saveTask(task)" class="btn btn-primary btn-md pull-right">Save</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-2" ng-if="!userData.getUser().isAdmin">
            <div>
                <h3>Advertisement Panel</h3>
            </div>
        </div>

        <div class="col-md-8">
            <center>
                <h1>Current Tasks</h1>
            </center>

            <table class="table table-bordered table-hover table-responsive" ng-init="loadTasks()">
                <tr>
                    <th>Title</th>
                    <th>Points</th>
                    <th>Description</th>
                    <th>Created by</th>
                    <th>Assigned to</th>
                </tr>
                <tr ng-repeat="task in tasks">
                    <td>{{task.title}}</td>
                    <td>{{task.points}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.created_by.username}}</td>
                    <td>{{task.assigned_to.username}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-2">
            <h1>Sidebar right</h1>
            Can be used for advertisement
        </div>
    </div>
</div>